.app__container {
  background-color: #f5f5f5;
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.app-content {
  padding-top: 32px;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.grid__column-2 {
  padding-left: 5px;
  padding-right: 5px;
  width: calc(1 / 6 * 100%);
}

.grid__column-2-4 {
  padding-left: 5px;
  padding-right: 5px;
  width: 20%;
}

.grid__column-10 {
  width: calc(5 / 6 * 100%);
}

.category {
  background-color: var(--white-color);
  border-radius: 2px;
}

.category__heading {
  color: var(--text-color);
  font-size: 1.0625rem;
  padding: 12px 20px;
  /* border-bottom: 1px solid rgba(0, 0, 0, 0.05); */
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  padding-top: 18px;
}

.category__heading-icon {
  font-size: 0.875rem;
  margin-right: 4px;
  position: relative;
  top: -1px;
}

.category-list {
  list-style: none;
  padding: 0;
  margin: 4px 10px;
}

.category-item {
  position: relative;
}

.category-item::before {
  content: "";
  border-top: 1px solid #e1e1e1;
  position: absolute;
  top: 0;
  left: 8px;
  right: 8px;
}

.category-item--active .category-item__link {
  color: var(--primary-color);
}

.category-item--active .category-item__link::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 6px;
  border: 4px solid;
  transform: translateY(-50%);
  border-color: transparent transparent transparent var(--primary-color);
}

.category-item__link {
  position: relative;
  display: block;
  color: var(--text-color);
  font-size: 0.9375rem;
  text-decoration: none;
  padding: 12px 20px;
  right: 0;
  transition: right linear 0.1s, transform 0.5s;
}

.category-item__link:hover {
  right: -4px;
  color: var(--primary-color);
  transform: scale(1.5) translateX(30px);
}

.home-filter {
  display: flex;
  align-items: center;
  padding: 12px 22px;
  border-radius: 2px;
  background-color: #ededed;
  color: #555555;
  font-size: 0.875rem;
}

.home-filter__label {
  margin-right: 16px;
}

.home-filter__btn {
  margin-right: 12px;
  min-width: 90px;
}

.home-filter__page {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.home-filter__page-num {
  font-style: 1.4rem;
  color: var(--text-color);
  margin-right: 22px;
}

.home-filter__page-current {
  color: var(--primary-color);
}

.home-filter__page-control {
  overflow: hidden;
  border-radius: 2px;
  display: flex;
  width: 72px;
  height: 36px;
}

.home-filter__page-btn {
  flex: 1;
  text-decoration: none;
  background-color: var(--white-color);
  display: flex;
  color: #555;
}

.home-filter__page-btn--disabled {
  background-color: #f9f9f9;
  cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
  color: #ccc;
}

.home-filter__page-btn:first-child {
  border-right: 1px solid #eee;
}

.home-filter__page-icon {
  margin: auto;
}

.btn {
  min-width: 124px;
  height: 34px;
  text-decoration: none;
  border: none;
  border-radius: 2px;
  font-size: 0.9375rem;
  padding: 0 12px;
  outline: none;
  cursor: pointer;
  color: var(--text-color);
  background-color: var(--white-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.btn.btn--normal:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.btn--size-s {
  height: 32px;
  font-size: 12px;
}

.btn.btn--primary {
  color: var(--white-color);
  background-color: var(--primary-color);
}

.btn.btn--disable {
  cursor: default;
  color: #949494;
  background-color: #c3c3c3;
}

.select-input {
  min-width: 200px;
  height: 34px;
  padding: 0 12px;
  border-radius: 2px;
  background-color: var(--white-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.select-input:hover .select-input__list {
  display: block;
}

.select-input__label {
  font-size: 0.875rem;
}

.select-input__icon {
  font-size: 0.875rem;
  color: #888888;
  position: relative;
  top: 1px;
}

.select-input__list {
  position: absolute;
  left: 0;
  right: 0;
  top: 22px;
  border-radius: 2px;
  background-color: var(--white-color);
  list-style: none;
  padding: 8px 16px;
  display: none;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.select-input__list::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0;
  right: 0;
  height: 10px;
}

.select-input__link {
  text-decoration: none;
  font-size: 0.875rem;
  color: var(--text-color);
  display: block;
  padding: 6px 0;
}

.select-input__link:hover {
  color: var(--primary-color);
}
